.slider h3,
.slider h5,
.clients {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 5);
}

.parallax-container {
    height:25%;

}

.clients img{
  max-width: 200px;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0,8));

}
#traveloka img{
    max-width: 100px;
}
section, footer{
    padding: 20px 0;

}
.hai{
    text-align: justify;
}
#bilibli{
    max-width: 5px;
}